<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock"  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="px-logo" fxLayoutAlign="center center" >
        <img height="200px" style="padding: 10px;" src="https://firebasestorage.googleapis.com/v0/b/recipe-master-panda.appspot.com/o/21286793.jpg?alt=media&token=878b5818-ab6c-4e79-8124-cdabb1518596" alt="cute chef">
      </div>

      <h1>Reset Password</h1>

      <p class="text-center">Please enter your email address to request a password reset.</p>

      <mat-form-field>
        <input type="email" matInput placeholder="Email address" #passwordResetEmail ngModel name="email" email required #emailInput="ngModel">
        <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">E-Mail is invalid.</mat-error>
      </mat-form-field>

      <!-- Calling ForgotPassword from AuthService Api -->
    <div class="formGroup" fxLayoutAlign="center">
      <button type="button" mat-stroked-button color="primary" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
        Resend Verification Email
      </button>
    </div>

    <div class="redirectToLogin" fxLayoutAlign="center center">
      <span>Go back to ? <span class="redirect" routerLink="/login">Log In</span></span>
    </div>

  </div>
</div>