<!--<h1>{{recipeTitle}}</h1>
<input type="text" [(ngModel)]="recipeTitleInput">
<button (click)="recipeTitle=recipeTitleInput">Change Title</button>-->

<section class="recipe" (click)="onClicked()" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">{{ recipeItem.title }}</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <p>The most awesome recipe</p>
      </mat-card-content>
    </mat-card>
</section>
  