<section class="add-recipe" fxLayout="column" fxLayoutAlign="center center">
  <h1 fxLayoutAlign="center">Share your Recipe!</h1>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" >

      <!-- title -->
      <mat-form-field fxLayoutAlign="center">
        <input type="title" matInput placeholder="Recipe Title" ngModel name="title" required #titleInput="ngModel">
        <mat-error *ngIf="titleInput.hasError('required')">Field must not be empty.</mat-error>
      </mat-form-field>

      <!-- description -->
      <mat-form-field fxLayoutAlign="center">
        <mat-label>Recipe Description</mat-label>
        <textarea type="description" matInput ngModel name="Description" required #descriptionInput="ngModel"></textarea>
        <mat-error *ngIf="descriptionInput.hasError('required')">Field must not be empty.</mat-error>
      </mat-form-field>

      <!-- dificulty -->
        <mat-form-field>
          <mat-select placeholder="Dificulty">
            <mat-option value="Easy">
              Easy
            </mat-option>
            <mat-option value="Medium">
              Medium
            </mat-option>
            <mat-option value="Hard">
              Hard
            </mat-option>
          </mat-select>
        </mat-form-field>
      
      <!-- preparation time -->
        <mat-form-field fxLayoutAlign="center">
          <input type="time" class="without_ampm" matInput placeholder="Recipe Preparation Time (h:m)" ngModel name="time">
        </mat-form-field>

      <!-- cooking time -->
      <mat-form-field fxLayoutAlign="center">
        <input type="time" class="without_ampm" matInput placeholder="Recipe Cooking Time (h:m)" ngModel name="time">
      </mat-form-field>

      <!-- categories -->
      <mat-form-field>
        <mat-select placeholder="Categories" multiple>
          <mat-option *ngFor="let cat of categories | async" [value]="cat.id">
            {{ cat.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- steps -->
      <mat-form-field fxLayoutAlign="center">
        <mat-label>Recipe Steps</mat-label>
        <textarea type="description" matInput ngModel name="Steps" required #stepsInput="ngModel"></textarea>
        <mat-error *ngIf="stepsInput.hasError('required')">Field must not be empty.</mat-error>
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary" >Create</button>
  </form>
</section>
  