<div class="container" style="margin: 0 50px 0 50px">

    <h1 style="margin-top: 25px;">
      Manage Categories
    </h1>
  
    <mat-card class="row" style="margin-top: 25px;"><mat-card-content>
    <form fxLayoutAlign="center" fxLayoutGap="20px">
      <mat-form-field fxLayoutAlign="center">
        <input type="text" matInput placeholder="Category Title" [(ngModel)]="categoryName" name="title" required>
        <mat-error *ngIf="!categoryName">Field must not be empty.</mat-error>
      </mat-form-field>
      <button type="submit" (click)="CreateRecord()" [disabled]="!categoryName" mat-raised-button color="primary" >Create</button>
    </form>
    </mat-card-content></mat-card>
      <div fxLayout="column"  fxLayout.gt-md="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
        <div *ngFor="let item of categories">
        <mat-card style="width: 300px; margin: 10px 0" >
          <mat-card-content  *ngIf="!item.isEdit; else elseBlock">
            <h5 text="wrap">{{item.name}}</h5>
            <a class="card-link" (click)="EditRecord(item)">
              <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
            </a>
            <a class="card-link" (click)="RemoveRecord(item.id)">
              <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
            </a>
          </mat-card-content>
          <ng-template #elseBlock>
            <div class="card-body">
              <h5 class="card-title">Edit </h5>
              <div class="form-group">
                <div class="row">
                    <input type="text" class="form-control" [(ngModel)]="item.name" placeholder="Edit Name">
                </div>
              </div>
  
              <a class="card-link" (click)="item.isEdit = false">Cancel</a>
              <a class="card-link" (click)="UpdateRecord(item)">Update</a>
            </div>
          </ng-template>
        </mat-card>
        </div>
      </div>
</div>