

<mat-card>
    <mat-card-content>
        <mat-card-header>
            <mat-card-title fxLayoutAlign="center">Category Filter</mat-card-title>
        </mat-card-header>

      <mat-select placeholder="Categories" multiple [(ngModel)]="recipeCategories" required name="categories">
        <mat-option *ngFor="let cat of categories | async" [value]="cat.id">
          {{ cat.name }}
        </mat-option>
        </mat-select>

    </mat-card-content>
</mat-card>

<div class="all-recipes" fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
    <app-recipe  *ngFor="let recipe of recipes | myfilter: recipeCategories" [recipeItem]="recipe"></app-recipe>
</div>