<div class="displayTable">
  <div class="displayTableCell"  >

    <div class="px-logo" fxLayoutAlign="center center" >
        <img height="200px" style="padding: 10px;" src="https://firebasestorage.googleapis.com/v0/b/recipe-master-panda.appspot.com/o/chef-plate.png?alt=media&token=cea699ff-23ed-4e94-818f-01c18581ac64" alt="cute chef">
    </div>

    <div class="authBlock" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <h1>Sign Up</h1>

      <mat-form-field>
        <input type="email" matInput placeholder="Your email" #userEmail ngModel name="email" email required #emailInput="ngModel">
        <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">E-Mail is invalid.</mat-error>
      </mat-form-field>
      <!--<div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
      </div>-->
      
      <mat-form-field hintLabel="Should be at least 6 characters long.">
        <input type="password" matInput placeholder="Your password" #userPwd ngModel name="password" required minlength="6" #pwInput="ngModel">
        <mat-hint align="end">{{pwInput.value?.length}} / 6</mat-hint>
        <mat-error>Has to be at least 6 characters long.</mat-error>
      </mat-form-field>
      <!--
      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPwd required>
      </div>-->

      <div class="formGroup">
        <button type="button" mat-raised-button color="primary" (click)="authService.SignUp(userEmail.value, userPwd.value)">Sign Up</button>
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>

      <!-- Continue with Google -->
      <div class="formGroup">
        <button type="button" mat-raised-button class="btn googleBtn" (click)="authService.GoogleAuth()">
          <mat-icon aria-hidden="false" aria-label="Example home icon">mail</mat-icon>
          Continue with Google
        </button>
      </div>
      
    </div>

    <div class="redirectToLogin" fxLayoutAlign="center center">
      <span>Already have an account? <span class="redirect" routerLink="/login">Log In</span></span>
    </div>
  </div>

</div>
