<div class="px-logo" fxLayoutAlign="center center" >
  <img height="400px" style="padding-bottom: 10px;" src="https://firebasestorage.googleapis.com/v0/b/recipe-master-panda.appspot.com/o/mini-cute-chefs.png?alt=media&token=dce4d9f5-43fe-4cda-bf49-5001f0b89d87" alt="cute chef">
</div>

<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
    <section>
      <h1>Welcome</h1>
      <p>Find new recipes! Cook with us!</p>
    </section>
    <section>
      <h1>COMMUNITY</h1>
      <p>Join our community to post your own recipes!</p>
    </section>
</div>
<div class="recipes" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
    <section>
        <app-all-recipes></app-all-recipes>
    </section>
</div>
  